{% extends 'index1.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block contents%}
<form action="{% url 'trainerregister'%}"  method="POST">
    {% csrf_token %}
<table align="center" style="color:white;">
    <h3>Registration of Trainer</h3>
    <tr><td>Trainer Name</td><td>{{form.name}}</td></tr>
    <tr><td>Trainer Id</td><td>{{form.uid}}</td></tr>
    <tr><td>Trainer Email</td><td>{{form.mail}}</td></tr>
    <tr><td>Trainer Password</td><td>{{form.passwd}}</td></tr>
    <tr><td>Trainer Qualification</td><td>{{form.qualification}}</td></tr>
    <tr><td>Trainer Designation</td><td>{{form.designation}}</td></tr>
    <tr><td>Trainer Experience</td><td>{{form.Experience}}</td></tr>
    <tr><td>Trainer Mobile No</td><td>{{form.mobileno}}</td></tr>
         {{form.authkey}}
         {{form.status}}
    <tr><td><input type="submit" value="register"></td></tr></br></br>
</table>
</form>
{% endblock%}
</body>
</html>
